/* setting styles for different text elements */
body.bee--cs,
body.bee--cs .h1,
body.bee--cs .h2,
body.bee--cs .h3,
body.bee--cs .h4,
body.bee--cs .h5,
body.bee--cs .h6,
body.bee--cs .tooltip,
body.bee--cs h1,
body.bee--cs h2,
body.bee--cs h3,
body.bee--cs h4,
body.bee--cs h5,
body.bee--cs h6,
body.bee--cs .tgl-title {
  font-family: "Frutiger Next W01", Helvetica, Arial, sans-serif;
}

.widget-bar.widget-bar--cs .widget__box .box__label--cs,
.widget-bar.widget-bar--cs .tgl-container--cs .tgl-title,
.widget-bar.widget-bar--cs .tgl-container--cs .tgl-label,
.widget-bar.widget-bar--cs .widget__label--cs,
.widget-bar.widget-bar--cs .icon-organizer__panel--cs .panel__title {
  color: #ffffff;
}

/* setting styles for right widget elements */
.widget-bar.widget-bar--cs .panel--default.panel--cs:hover {
  border: 1px solid #191c3c;
  -webkit-box-shadow: 0 6px 10px rgb(0 0 0 / 35%);
  box-shadow: 0 6px 10px rgb(0 0 0 / 35%);
}

.widget-bar.widget-bar--cs .radio-button--cs .radio-button__radio,
.widget-bar.widget-bar--cs .panel--default.panel--cs {
  background-color: #191c3c;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.widget-bar.widget-bar--cs .panel--default.panel--cs {
  border-color: #a4a8c0;
}

.widget-bar .dropdown-custom .dropdown-toggle .dropdown__control {
  background-color: #292b49;
  border-color: #545671;
}

.dropdown-custom .dropdown-toggle .dropdown__control {
  background: #fff;
}

.widget-bar.widget-bar--cs .dropdown-custom--cs .dropdown-toggle,
.widget-bar.widget-bar--cs .number-selector--cs .btn,
.widget-bar.widget-bar--cs
  .width-style-color-container--cs
  .number-selector--cs
  .btn,
.widget-bar.widget-bar--cs .wrapper-color-selector--cs,
.widget-bar.widget-bar--cs .wrapper-color-selector--cs input[type="text"],
.widget-bar.widget-bar--cs .href-container--cs input[type="text"],
.widget-bar.widget-bar--cs .background-image-container--cs input[type="text"],
.widget-bar.widget-bar--cs .image-selector-container--cs input[type="text"],
.widget-bar.widget-bar--cs .alternate-txt--cs input[type="text"],
.widget-bar.widget-bar--cs .href-container--cs .input-group-addon,
.widget-bar.widget-bar--cs .background-image-container--cs .input-group-addon,
.widget-bar.widget-bar--cs .icon-organizer__panel--cs input[type="text"],
.widget-bar.widget-bar--cs .icon-organizer__panel--cs .input-group-addon,
.widget-bar.widget-bar--cs .icon-manager__add-icon--cs {
  background-color: #292b49;
}

.widget-bar.widget-bar--cs .dropdown-custom--cs .dropdown-toggle,
.widget-bar.widget-bar--cs .number-selector--cs .btn,
.widget-bar.widget-bar--cs
  .width-style-color-container--cs
  .number-selector--cs
  .btn-group,
.widget-bar.widget-bar--cs
  .width-style-color-container--cs
  .number-selector--cs
  .btn,
.widget-bar.widget-bar--cs .wrapper-color-selector--cs,
.widget-bar.widget-bar--cs .wrapper-color-selector--cs div,
.widget-bar.widget-bar--cs .tgl-container--cs .tgl_body,
.widget-bar.widget-bar--cs .href-container--cs input[type="text"],
.widget-bar.widget-bar--cs .background-image-container--cs input[type="text"],
.widget-bar.widget-bar--cs .image-selector-container--cs input[type="text"],
.widget-bar.widget-bar--cs .alternate-txt--cs input[type="text"],
.widget-bar.widget-bar--cs .href-container--cs .input-group-addon,
.widget-bar.widget-bar--cs .background-image-container--cs .input-group-addon,
.widget-bar.widget-bar--cs .icon-organizer__panel--cs input[type="text"],
.widget-bar.widget-bar--cs .icon-organizer__panel--cs .input-group-addon {
  border-color: #545671;
}

.widget-bar.widget-bar--cs
  .widgets-section
  .widgets-section__columns-container
  .nav-tabs,
.widget-bar.widget-bar--cs
  .widgets-section
  .widgets-section__columns-container
  .tab-content
  .tab-pane
  > div,
.widget-bar.widget-bar--cs .widgets-section .widgets-section__wrapper > div {
  border-bottom: 1px solid #292b49;
}

.widget-bar.widget-bar--cs .dropdown-custom--cs .arrows,
.widget-bar.widget-bar--cs .dropdown-custom--cs .dropdown-toggle,
.widget-bar.widget-bar--cs .number-selector--cs .btn,
.widget-bar.widget-bar--cs
  .width-style-color-container--cs
  .number-selector--cs
  .btn,
.widget-bar.widget-bar--cs .wrapper-color-selector--cs,
.widget-bar.widget-bar--cs .wrapper-color-selector--cs input[type="text"],
.widget-bar.widget-bar--cs .href-container--cs input[type="text"],
.widget-bar.widget-bar--cs .background-image-container--cs input[type="text"],
.widget-bar.widget-bar--cs .image-selector-container--cs input[type="text"],
.widget-bar.widget-bar--cs .alternate-txt--cs input[type="text"],
.widget-bar.widget-bar--cs .href-container--cs .input-group-addon,
.widget-bar.widget-bar--cs .background-image-container--cs .input-group-addon,
.widget-bar.widget-bar--cs .icon-organizer__panel--cs input[type="text"],
.widget-bar.widget-bar--cs .icon-organizer__panel--cs .input-group-addon,
.widget-bar.widget-bar--cs .icon-manager__add-icon--cs {
  color: #ffffff;
}

.widget-bar.widget-bar--cs .panel--default.panel--cs .body__title--cs,
.widget-bar.widget-bar--cs .widgets-section .widgets-section__title--cs {
  color: #ffffff;
}

.widget-bar.widget-bar--cs .properties-panel__title--cs h4,
.widget-bar.widget-bar--cs .properties-panel__title--cs > .close-panel,
.widget-bar.widget-bar--cs .properties-panel__title--cs > .icon-delete,
.widget-bar.widget-bar--cs .properties-panel__title--cs > .icon-duplicate {
  color: #ffffff;
}

body.bee--cs .dragging.module svg path,
body.bee--cs .dragging.row svg .icon--color-base,
body.bee--cs .dragging.new-row svg .icon--color-base,
body.bee--cs .dragging.new-module svg path,
.widget-bar.widget-bar--cs svg path,
.widget-bar.widget-bar--cs svg rect,
.widget-bar.widget-bar--cs svg .icon--color-base {
  fill: #a4a8c0 !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: #fd6481 !important;
}

.react-toggle-track {
  border: 1px solid rgba(50, 50, 50, 0.15);
}

body.bee--cs .selected.module-box:before,
body.bee--cs .selected.row-container .row-selector:before,
body.bee--cs .selected.module-box > .icon-move,
body.bee--cs .selected.row-container > .icon-move,
body.bee--cs .row-container > .edit-icons,
body.bee--cs .module-box > .edit-icons,
body.bee--cs .btn-primary,
body.bee--cs .btn-primary:hover,
body.bee--cs .btn-primary:active,
body.bee--cs .btn-primary:focus,
.widget-bar.widget-bar--cs .tgl-container--cs .tgl_bgd,
.widget-bar.widget-bar--cs .padding-container .square,
.widget-bar.widget-bar--cs .hideon-container .tgl-label.active,
.lock-container--cs.locked {
  background-color: #fd6481;
}

/* setting right side widget theme based on groove */
.widget-bar.widget-bar--cs .widget-bar__scroll-container--cs {
  background-color: #191c3c;
}

.widget-bar.widget-bar--cs .tabset__tab--cs a {
  background: #191c3c;
  border-bottom-color: #c7c7c7;
  color: #f8f8fc;
}

.widget-bar.widget-bar--cs .tabset__tab--cs a:hover {
  background: #191c3c;
  color: #f8f8fc;
}

.widget-bar.widget-bar--cs .tabset__tab--cs.active a,
.widget-bar.widget-bar--cs .tabset__tab--cs.active a:hover {
  border-bottom-color: #191c3c;
  color: #fd6481;
}

.widget-bar.widget-bar--cs .widgets-section .widgets-section__title--cs {
  background-color: #191c3c;
}

.widget-bar.widget-bar--cs .properties-panel__title--cs {
  border-color: #191c3c;
}

.widget-bar.widget-bar--cs .properties-panel__title--cs .icon {
  background-color: #191c3c;
  border-left-color: #191c3c;
}

.widget-bar.widget-bar--cs .properties-panel__title--cs h4 {
  color: #ffffff;
  border-left-color: #292b49;
  background: #191c3c;
  border-top-color: #292b49;
  border-bottom-color: #292b49;
}

/* setting bee action icons styles , */
body.bee--cs .row-container > .edit-icons,
body.bee--cs .module-box > .edit-icons {
  background-color: #fd6481;
}

/* setting toolbar merge-tags button background color */
/* .tox .tox-toolbar:last-child .tox-toolbar__group:nth-last-child(2) {
  background: #fd6481;
} */
.tox .tox-toolbar [aria-label="Merge tags"] {
  background: #fd6481;
}

[aria-label="Merge tags"]:after {
  background: #fd6481;
}

/* setting toolbar affiliate-links button background color */
/* .tox .tox-toolbar:last-child .tox-toolbar__group:last-child {
  background-color: #2ca89d;
} */
.tox .tox-toolbar [aria-label="Affiliate links"] {
  background: #2ca89d;
}

[aria-label="Affiliate links"]:after {
  background: #2ca89d;
}

/* hiding beefree default loader */
.Bee_isLoading__2djO3,
.LoadingSpinner_loaderContainer__2tQOh {
  display: none;
}
